<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1063160481829-iup7maduekici3lon2dh747oc7ermjhc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1063160481829-iup7maduekici3lon2dh747oc7ermjhc</string>
	<key>API_KEY</key>
	<string>AIzaSyDeAO4Tbh1s7nRARDuiD3gQdCg54osvSwU</string>
	<key>GCM_SENDER_ID</key>
	<string>1063160481829</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.-suneth-tissera-.myClientBook</string>
	<key>PROJECT_ID</key>
	<string>my-clientbook</string>
	<key>STORAGE_BUCKET</key>
	<string>my-clientbook.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1063160481829:ios:d8cb70cb28e04007ecd7cc</string>
</dict>
</plist>
